ul{
   list-style-type:none ; 
margin:0 ;
padding:0 ;
overflow: hidden;
background-color: blueviolet;

}
li{
float: left;
}
li a{
display:block ;
color: aqua;
text-align:center ;
padding:18px 20px ;
 text-decoration: none ;

}
li a:hover:not(:active){
    background-color: #f2f2f2 ;
}
:active{
    background-color: blueviolet;
}
li ul{
display:none absolute ;
position:100 ;
top: ;
left: ;
background-color: aquamarine;
padding: ;
min-width: ;
}




















