a[href="https://digitalschool.eu/ "]{
color: brown;
}
p[class*="ds"] {
  background: blue; 
  color: aqua;
padding: 20px;
 }


div[id~="ds"]{
background: blue;
    color: red;
padding:20px
}
img[title^="blue"]{
    border: 2px solid blue;
}
h1[class|="heading"]{
background:purple ;
color: blueviolet;
padding: 20px;
}
input[placeholder $="name"]{
    border: 2px solid blue;
}
input[reandonly]{
    border: 2px solid gold;
}
